@import url("../../node_modules/bootstrap/dist/css/bootstrap.css");
@import "modal-choice";
@import "modal-result";
@import "media";
@import "global-var";
@import "animation";

body {
  background-color: whitesmoke;
}

.playground {
  height: 100vh;
  min-width: 320px;
  overflow-x: hidden;
  padding-top: 5rem;

  .warning-msg {
    text-align: center;
  }

  &-table {

    table {
      margin: auto;
      width: $table-cell-size;
      height: $table-cell-size;
      padding: $table-padding $table-padding $table-padding $table-padding;
      min-width: 320px;
      min-height: 320px;
    }
  }

  &-inner {
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }

  &-information {

    p {
      font-size: 1.5rem;
    }
  }

  .cell {
    border: 1px solid $text-color;
  }

  h1 {
    color: $text-color;
  }

  h2 {
    color: $text-color;
  }

  .progress {
    overflow-y: auto;
    flex-direction: column;
    text-align: left;
    padding: 10px;
  }
}

.block {
  position: relative;
  float: left;
  width: 30%;
  padding-bottom: 30%;
  margin: 1.66%;
  background-color: $empty-cell-color;
  background-size: cover !important;
  &:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
  //transition: fade_in() .2s ease-in-out;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.blocks-wrapper {
  width: 100%;

  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.table {
  position: relative;
}

$choice-height: 130px;

.choice {
  height: $choice-height;
}

.turn {
  height: calc(100% - #{$choice-height});
  background: #fff;
  padding: 10px;
}