@import url("../../node_modules/bootstrap/dist/css/bootstrap.css");
@import "modal-choice";
@import "modal-result";
@import "media";
@import "global-var";

body {
  background-color: whitesmoke;
}

.playground {
  overflow: hidden;
  height: 100vh;
  min-width: 320px;

  .row {
    height: 100%;
  }

  .playground-table {
    margin: auto;

    table{
      margin: auto;
      width: $table-cell-size;
      height: $table-cell-size;
      padding: $table-padding $table-padding $table-padding $table-padding;
      min-width: 320px;
      min-height: 320px;
    }
  }

  .playground-information {
    margin: auto;
    height: $table-cell-size;
  }

  .cell {
    border: 1px solid $text-color;
  }

  h1 {
    color: $text-color;
  }

  h2 {
    color: $text-color;
  }

  .progress {
    overflow-y: auto;
    flex-direction: column;
    height: 515px;
    text-align: left;
  }
}

.block {
  position: relative;
  float:left;
  width: 30%;
  padding-bottom: 30%;
  margin:1.66%;
  background-color: $empty-cell-color;
  background-size: contain;

  img{
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.blocks-wrapper {
  width: 100%;

  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.table {
  position: relative;
}