@import "global-var";

.modal-choice {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  transition: opacity 400ms ease-in;
  display: none;

  :target {
    display: block;
    pointer-events: auto;
  }

  > div {
    width: 35%;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 4px;
    background: #fff;
  }

  h2 {
    padding: 15px 0 0 0;
    margin-bottom: 1rem;
  }

  .close {
    line-height: 25px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 24px;
    font-weight: bold;

    :focus {
      color: transparent;
    }
  }

  .img-container {
    padding: 0 20px;
    margin-bottom: 20px;
    width: 45% !important;
  }

  .img-container > img {
    width: 100%;
    cursor: pointer;
  }

  .img-container > a {
    display: none;
  }

  .row {
    justify-content: center;
  }

  .nomatter {
    text-align: right;

    .href-nomatter {
      border-bottom: 1px solid $text-color;
      transition: all .4s ease-in-out;

      &:hover {
        border-bottom: transparent;
        cursor: pointer;
      }
    }
  }
}