@import url("../../node_modules/bootstrap/dist/css/bootstrap.css");
.modal-choice {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  transition: opacity 400ms ease-in;
  display: none; }
  .modal-choice :target {
    display: block;
    pointer-events: auto; }
  .modal-choice > div {
    width: 35%;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 4px;
    background: #fff; }
  .modal-choice h2 {
    padding: 15px 0 0 0;
    margin-bottom: 1rem; }
  .modal-choice .close {
    line-height: 25px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 24px;
    font-weight: bold; }
    .modal-choice .close :focus {
      color: transparent; }
  .modal-choice .img-container {
    padding: 0 20px;
    margin-bottom: 20px;
    width: 45% !important; }
  .modal-choice .img-container > img {
    width: 100%;
    cursor: pointer; }
  .modal-choice .img-container > a {
    display: none; }
  .modal-choice .row {
    justify-content: center; }
  .modal-choice .nomatter {
    text-align: right; }
    .modal-choice .nomatter .href-nomatter {
      border-bottom: 1px solid #383d40;
      transition: all .4s ease-in-out; }
      .modal-choice .nomatter .href-nomatter:hover {
        border-bottom: transparent;
        cursor: pointer; }

@media (max-width: 576px) {
  .modal-choice > div {
    width: 80%; }
  .modal-choice h2 {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 1.5rem; }
  .modal-choice .img-container {
    padding: 0;
    width: 80%; } }

@media (max-width: 991px) {
  .modal-choice > div {
    width: 60%; }
  .modal-choice h2 {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1.5rem; } }

@media (min-width: 3000px) {
  .playground-information {
    height: 2200px !important; }
  h1 {
    font-size: 7rem; }
  h2 {
    font-size: 6rem; }
  .choice p {
    font-size: 5rem !important; }
  .progress {
    height: 1990px !important;
    font-size: 3rem;
    line-height: 4rem; }
  .modal-choice h2 {
    padding: 1rem 0 0 0;
    margin-bottom: 3rem; }
  .modal-choice .nomatter {
    font-size: 3rem; }
  .modal-choice .close {
    line-height: 2rem;
    right: 29px;
    top: 23px;
    width: 2rem;
    font-size: 5rem; } }

body {
  background-color: whitesmoke; }

.playground {
  overflow: hidden;
  height: 100vh;
  min-width: 320px; }
  .playground .row {
    height: 100%; }
  .playground .playground-table {
    margin: auto; }
    .playground .playground-table table {
      margin: auto;
      width: 720px;
      height: 720px;
      padding: 15px 15px 15px 15px;
      min-width: 320px;
      min-height: 320px; }
  .playground .playground-information {
    margin: auto;
    height: 720px; }
  .playground .cell {
    border: 1px solid #383d40; }
  .playground h1 {
    color: #383d40; }
  .playground h2 {
    color: #383d40; }
  .playground .progress {
    overflow-y: auto;
    flex-direction: column;
    height: 515px;
    text-align: left; }

.block {
  position: relative;
  float: left;
  width: 30%;
  padding-bottom: 30%;
  margin: 1.66%;
  background-color: #ada4a4;
  background-size: contain; }
  .block img {
    position: absolute;
    width: 100%;
    height: 100%; }

.blocks-wrapper {
  width: 100%; }
  .blocks-wrapper:after {
    content: '';
    display: block;
    clear: both; }

.table {
  position: relative; }
