.modal-choice {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  transition: opacity 400ms ease-in;
  display: none;
  min-width: 320px; }
  .modal-choice :target {
    display: block;
    pointer-events: auto; }
  .modal-choice > div {
    width: 35%;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 4px;
    background: #fff; }
  .modal-choice h2 {
    padding: 15px 0 0 0;
    margin-bottom: 1rem; }
  .modal-choice .close {
    line-height: 25px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 24px;
    font-weight: bold; }
    .modal-choice .close :focus {
      color: transparent; }
  .modal-choice .img-container {
    padding: 0 20px;
    margin-bottom: 20px;
    width: 45% !important; }
  .modal-choice .img-container > img {
    width: 100%;
    cursor: pointer; }
  .modal-choice .img-container > a {
    display: none; }
  .modal-choice .row {
    justify-content: center; }
  .modal-choice .nomatter {
    text-align: right; }
    .modal-choice .nomatter .href-nomatter {
      border-bottom: 1px solid #383d40;
      transition: all .4s ease-in-out; }
      .modal-choice .nomatter .href-nomatter:hover {
        border-bottom: transparent;
        cursor: pointer; }
