doctype html
head
    link(href="css/main-style.css" rel="stylesheet")
    link(href="../../node_modules/bootstrap/dist/css/bootstrap.css")
    meta(charset="UTF-8")
    title Tick-Tack-Toe

body
    section(class='playground')
        div(class='row')
            div(class='col-8 playground-table')
                table
                    tr
                        td(class='cell')
                        td(class='cell')
                        td(class='cell')
                    tr
                        td(class='cell')
                        td(class='cell')
                        td(class='cell')
                    tr
                        td(class='cell')
                        td(class='cell')
                        td(class='cell')
            div(class='col-4 playground-information')
                div(class='choice')
                    p Ваш выбор
                    p Здесь должна быть картинка
                br
                div(class='turn')
                    p Ходы:
                    br
                    p(class='progress')
