doctype html
head
    link(href="css/main-style.css" rel="stylesheet")
    //link(href="../../node_modules/bootstrap/dist/css/bootstrap.css")
    meta(charset="UTF-8")
    title Tick-Tack-Toe

body
    section(class='playground')
        div(id='modal-choice', class='modal-choice')
            div
                a(href='#close', class='close' id="close") X
                h2 Модальное окно
                p fpfp
        div(class='row')
            - var x = 5;
            div(class='col-8 playground-table')
                table
                    tr
                        td(class='cell')
                        td(class='cell')
                        td(class='cell')
                    tr
                        td(class='cell')
                        td(class='cell')
                        td(class='cell')
                    tr
                        td(class='cell')
                        td(class='cell')
                        td(class='cell')
            div(class='col-4 playground-information')
                div(class='choice')
                    h1 Ваш выбор:
                    p Здесь должна быть картинка
                hr
                div(class='turn')
                    h2 Ходы:
                    hr
                    p(class='progress')

    script(src="js/main.js")