doctype html
head
    link(href="css/main-style.css" rel="stylesheet")
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    title Tick-Tack-Toe

body
    section.playground
        .modal-choice#modal-choice
            div
                h2 Выберите сторону:
                .row.playground-inner
                    .img-container
                        a(onclick="setCross()") Крестик
                        img(src="img/cross.png", data-choice-id="cross", onclick="setCross()")
                    .img-container
                        a(onclick="setCross()") Нолик
                        img(src="img/oval.png" data-choice-id="oval" onclick="setOval()")
                .nomatter
                    a(class="href-nomatter" data-choice-id="random" onclick="setRandom()") Не важно
        .row.playground-inner
            div(class='col-10 col-md-8 col-lg-8 playground-table')
                .blocks-wrapper
                    .block(id="0")
                    .block(id="1")
                    .block(id="2")
                    .block(id="3")
                    .block(id="4")
                    .block(id="5")
                    .block(id="6")
                    .block(id="7")
                    .block(id="8")

            div(class='col-10 col-md-4 col-lg-4 playground-information')
                div(class='choice')
                    h1 Ваш выбор:
                    p
                    hr
                div(class='turn')
                    h2 Ходы:
                    hr
                    .progress(id="progress")
        .modal-choice(id='modal-result')
            div
                a(href='#close', class='close' id="close") X
                .rov
                    h1(id="result-string" class="result-string")
                button(type="button" class="btn btn-danger res-btn")
                    a(data-choice-id="reset" onclick="resetLevel()") Начать заново

    script(src="js/main.js")